<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to profile</h1>
    <form action="/post" method="post">
        <textarea  style="display: block;resize: none;" placeholder="WHATS IN YOUR MIND" name="post" id="" cols="30" rows="10"></textarea>
        <input type="submit" value="POST THIS SHIT">
    </form>
    <a href="/logout">Logout</a>|
    <a href="/allpost">See All Post</a>
</body>
</html>